    table, th, td {
        border-style: solid;
        border-color: black;
        text-align: center;
    }
    
    .blank {
        border-style: none;
        border-color: none;
    }
    
    .red {
        background-color: #FF3333;
    }
    
    .blue {
        background-color: #3333FF;
    }
    
    .green {
        background-color: #00FF00;
    }
    
    .yellow {
        background-color: #FFFF33;
    }
    
    .purple {
        background-color: #CC00FF;
    }
    
    .orange {
        background-color: #FF6600;
    }
    
    .pink {
        background-color: #FF00FF;
    }

    .teal {
        background-color: #00FFCC;
    }
